<div class="row">
  <div class="xform">
    <h4>New Item</h4>

    <%= render "form", item: @item %>

    <br>

    <div>
      <%= link_to "Back to items", items_path %>
    </div>

  </div>

</div>

